

{% extends "base.html.twig" %}

{% block title %} Productos {% endblock %}

{% block content %} 
   <ul>
            {% for producto in productos %}
                <li>{{ producto.nombre }} - {{ producto.precio }} €</li>
            {% endfor %}
        </ul>
    <hr>
            <ul>
            {% for dep in departamentos %} 
                <li>{{ dep.dept_no }}  -- {{ dep.dnombre }} -- {{ dep.loc }}
                    <a href=\"/eliminarDept?dept_no={{ dep.dept_no }}\">Eliminar</a> 
                    <a href=\"/modificarDept?dept_no={{ dep.dept_no }}\">Modificar</a>
                
                </li>
            {% endfor %}
        </ul>
{% endblock %}

